.App {
  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
}


body{
  font-family:'Noto Serif SC',serif;
  
}

.left{ 
 
  
  display: table-cell;      
  background-color:  #ccc;   
  border: solid 1px;          
  padding:  10px; 
  width:40%;
  height: 100vh;
  background-image: url('images/kimetsu.jpg');
  background-size: contain; 
       
  
}


.title1{
  display: table-cell;      
  background-color: #2d434e; 
  color: aqua;
  padding: 10px;       
  
  width: 60%;
  height: 100vh;
  font-size: 3.0em;
      
  
}

h1{
  margin-bottom: 5px;
}

.list{

  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 50%;
  font-size: 1.0em;
  border-radius: 43px;
  border-radius: 43px;
  background: linear-gradient(145deg, #293c46, #304853);
  box-shadow:  12px 12px 24px #263942, 
             -12px -12px 24px #344d5a;
}
  button{
  font-size: 45px;
  border-radius: 8px;
  background: linear-gradient(145deg, #29373f, #222e35);
  box-shadow:  4px 4px 9px #1e282f, 
             -4px -4px 9px #2e3e47;
}
#search-input{
  width: 75%; 
  padding: 10px 15px; 
  font-size: 16px;
  border-radius: 3px; 
  border: 2px solid #ddd; 
  box-sizing: border-box; 
  text-align: center;
  background-color:#DDDDDD ;
}


#search-input:focus {
  box-shadow: 0 0 8px orange;
  border: 2px solid #FFF !important;
  outline: 0;
}



li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: aqua;
  
}